.popup__save-button {
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 358px;
    height: 50px;
    margin: 48px auto 37px auto;
    color: #000;
    background-color: #fff;
    border: solid 1px #000;
    opacity: .2;
}

@media screen and (max-width:767px) {
    .popup__save-button {
        height: 46px;
        width: 238px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 17px;
    }
}