.profile__info-button-edit {
    box-sizing: border-box;
    background-color: #000;
    padding: 12px;
    border: 0;
    background-image: url(../../../images/profile-edit-button.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.profile__info-button-edit:hover {
    opacity: .6;
    transition: .4s;
}

@media screen and (max-width:767px) {  
    .profile__info-button-edit {
        padding: 9.5px;
    }
}